.alert-component
  .alert-message
    height 0
    text-align center
    margin 0 auto
    background-color #fcf8e3
    width 100%
    transition 1s cubic-bezier(0.17, 0.04, 0.03, 0.94)
    overflow hidden
    box-sizing border-box
    i
      margin-right 6px

  .alert-message.visible
    height auto
    padding 12px

