@import('Constants')
/* Base Application Styles */
body
#app
  height 100%
  width 100%
  
a
  color primaryColor
  cursor pointer

.seperator-space
  &:before
    content " "
    padding 0 2px
    
.seperator-line
  &:before
    content " | "
    padding 0 6px