@import('Mixins')
@import('Constants')
  
.dragdrop-component
  position relative
  width 75%
  text-align center
  margin 100px auto
  .dragdrop-area
    display table
    text-align center
    cursor pointer
    width 100%
    &:hover
      background rgba(0,0,0,0.1)
      
  .dragdrop-zone-active
    background rgba(0,0,0,0.1)
      
  .dragdrop-zone
    display table-cell
    vertical-align middle
    width 100%
    height 500px
    color primaryColor
    border-radius(10px)
